.gallery-section {
    background-color: #f8f9fa;
}

.gallery-item{
    height: 200px !important;
}
.gallery-item a img {
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 100%;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.section-title h2 {
    font-size: 32px;
}

.modal-body img {
    max-height: 500px;
    object-fit: cover;
}
