<!-- Hero Section -->
<section class="hero-section position-relative overflow-hidden">
    <div class="hero-image-container">
        <img src="assets/img/banner.jpg" alt="banner" class="hero-image w-100 h-50">
        <div class="hero-overlay"></div>
    </div>
    
    <!-- <div class="container position-relative">
        <div class="row min-vh-80 align-items-center">
            <div class="col-lg-6">
                <div class="hero-content bg-opacity-90 p-4 p-lg-5 rounded-3">
                    <h1 class="display-4 fw-bold text-primary mb-3">Advanced Health Care Center</h1>
                    <p class="lead mb-4">Providing compassionate and comprehensive Health care with state-of-the-art technology and expert specialists.</p>
                    <div class="d-flex flex-wrap gap-3">
                        <a href="#" class="btn btn-outline-primary btn-lg px-4 py-3 rounded-pill">
                            <i class="fas fa-calendar-check me-2"></i> Book Appointment
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-content bg-opacity-90 p-4 p-lg-5 rounded-3">
                    <img src="../assets/img/gallery/nurse-retirement-home-listening-old-sick-man-heart-bead-pensioner-lies-hospital-bed-1-1-scaled.jpg" alt="Healthcare" class="img-fluid">
                    
                </div>
            </div>
        </div>
    </div> -->
</section>
